:root{

    /* colors */
    --brand-color: #20242F;
    --brand-color2: #B0008B;
    --brand-color3: #552CDF;

    /* font */
  --font-family: "Alata", sans-serif;
  --font-family-russo: "Russo one", sans-serif;
  --font-size: 26px;
  --font-header-size: 64px;
  --font-weight: 400;
}

/*Убрать полосу прокрутки для всей страницы*/


body{

    background-color: var(--brand-color);
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    color: #ffff;

    
}

.container-logo{

    max-width: 1300px;
  padding-left: 20px;
  padding-right: 20px;
  /* height: 700px; */
  padding-top: 100px;
  margin: 0 auto;
  margin-bottom: 300px;
} 

/* layout */
.container{
    max-width: 1180px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

/* СКРОЛЛ */
::-webkit-scrollbar {
    width: 0;
    
}

#kryesore::-webkit-scrollbar{
    width: 7px;
    background-color: yellow;
}

#kryesore::-webkit-scrollbar-thumb {
   
    background-color: red;
}

/* #element {
    
}

::-webkit-scrollbar {
    width: 7px;
    background-color: var(--brand-color);
}

::-webkit-scrollbar-thumb {
   
    background-color: #223c50;
}
 */

/* ***************************** */
/* ***************************** */
/* ***************************** */


/* Анимация ЛОГО */
.logo{
    animation: logo__anime 5s ease forwards;
}


@keyframes logo__anime {
    0% {
        transform: translate(425px, 0px); /*y:248*/
        
    }
    20% {
        transform: translate(425px, 0px);
    }
    100% {
        transform: translate(50px, 0px);
    }
}

/* Анимация Аковлев */
.AKOVLEV{
    animation: AKOVLEV__anime 5s ease forwards;
}

@keyframes AKOVLEV__anime {
    0% {
        transform: translate(-60px, 38px);/*y:286*/
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100% {
        transform: translate(0px, 38px);
        opacity: 1;
    }
}

/* Анимация GAME */
.GAME{
    animation: GAME__anime 5s ease forwards;
}

@keyframes GAME__anime {
    0% {
        transform: translate(0px, 0px); /*y:260*/
        opacity: 0;
    }
    80%{
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

/* Анимация sharp */
.sharp{
    animation: sharp__anime 6s ease forwards;
}

@keyframes sharp__anime {
    0% {
        transform: translate(30px, 0px);  /*y:260*/
        opacity: 0;
    }
    90%{
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translate(30px, 0px);
    }
}

/* Анимация DEV */

.DEV{
    animation: DEV__anime 6s ease forwards;
}

@keyframes DEV__anime {
    0% {
        transform: translate(70px, 0px);  /*y:260*/
        opacity: 0;
    }
    90%{
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translate(70px, 0px);
    }
}
/* ***************************** */
/* ***************************** */
/* ***************************** */


/* Main LOGO */
.fisrt__line{
    display: flex;
    justify-content: center;
    /* gap: 30px; */
} 

.second__line{
    display: flex;
    justify-content: center;
    /* gap: 30px; */
} 

/* ***************************** */
/* ***************************** */
/* ***************************** */

/* header */

.page-header {
   
   font-family: var(--font-family-russo); 
}

.shadow{
    box-shadow: 0px 12px 200px 250px  #3cf ;
    /* #f39 pink +- + */
    /* #6ff blue +- -*/
    /* #6cf blue +- + более строгий*/
    /* #f39 pink +- - лчший пинк*/
    /* #c33 pink +- - темный официальный темный*/
    /* #3cf blue +  +возможно идеал */
}

.page-header__row {
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.page-header__nav
{

}

.page-header__menu{

    list-style: none;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

/* ***************************** */
/* ***************************** */
/* ***************************** */

/* info */

.info{
    
}

.info__header{

    text-align: center;
    font-size: var(--font-header-size);
    margin: 30px;
    font-family: var(--font-family-russo);
    
}

/* .shadow-info{
    box-shadow: 0px 12px 100px 50px  #f39 ;
} */

.info-table{
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    
    gap: 50px;
    margin-top: 150px;
    
    justify-items: center;
}

/* ////// */

.info__card-online{

    /* background-color: #552CDF; */
    border-radius: 40px;
    text-align: center;
    max-width: 400px;
    padding: 35px;
    box-shadow: 0px 12px 30px 5px #f39;
}

.info__card-online2{

    /* background-color: #552CDF; */
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 40px;
    padding: 15px;
    /* box-shadow: 0px 12px 30px 5px #f39; */
    
    
    
}

.info__card-online2-inside{
    background-image:  url("./images/UnityBigBackground.webp");
    background-size: cover;
    min-width: 400px;
    min-height: 200px;
    border-radius: 40px;
    transform: rotate(-7deg);
}

/* ////// */

.info__card-zenject{

    grid-row-start: 2 ;
    grid-column-start: 2;
    
    
    /* background-color: #552CDF; */
    border-radius: 40px;
    text-align: center;
    max-width: 400px;
    padding: 35px;
    box-shadow: 0px 12px 30px 5px #f39;
}

.info__card-zenject2{

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 40px;
    padding: 15px;
}

.info__card-zenject2-inside{

    background-image:  url("./images/Zenject_bw.jpg");
    background-size: cover;
    min-width: 400px;
    min-height: 280px;
    border-radius: 40px;
    transform: rotate(9deg);
}

/* ////// */

.info__card-pattern{
    grid-column-start: 1;
    grid-row-start: 3 ;
    
    
    /* background-color: #552CDF; */
    border-radius: 40px;
    text-align: center;
    max-width: 400px;
    padding: 35px;
    box-shadow: 0px 12px 30px 5px #f39;
}

.info__card-pattern2{

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 40px;
    padding: 15px;

}

.info__card-pattern2-inside{
    background-image:  url("./images/abstract-factory-ru.png");
    background-size: cover;
    min-width: 430px;
    min-height: 280px;
    border-radius: 40px;
    transform: rotate(-3deg);
}

/* ////// */


.info__card-videos{
    grid-column-start: 2;
    grid-row-start: 4;
    
    
    /* background-color: #552CDF; */
    border-radius: 40px;
    text-align: center;
    max-width: 400px;
    padding: 35px;
    box-shadow: 0px 12px 30px 5px #f39;
}

.info__card-videos2{
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 40px;
    padding: 15px;
}

.info__card-videos2-inside{
    background-image:  url("./images/VideosFrame.png");
    background-size: cover;
    min-width: 430px;
    min-height: 280px;
    border-radius: 40px;
    transform: rotate(3deg);
}

/* ////// */

.card__title{

    font-family: var(--font-family-russo);
    padding: 20px;
}

.card__text{

    text-align: center ;
}

/* ***************************** */
/* ***************************** */
/* ***************************** */